html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

#Demo1{
    width: 200px;
    border: solid red 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#Demo2{
    width: 200px;
    border: solid green 5px;
}
#Demo3{
    width: 150px;
    border: solid blue 5px;
}