:root{
    --dark:#0B2B40;
    --blue:#103778;
    --gray:#F2CDAC58;
    --dark:#010221;
    --green:#1B7F79;
}

html{
    box-sizing: border-box;
}

*,*::after, *::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    color: white;
}

.section-green{
    background-color: var(--green);
}

#intro{
    padding: 4rem 1rem 5rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro p{
    font-size: 1.5rem;
    line-height: 1.5;
}

.name span{
    display: block;
    font-size: 3rem;
    color: red;
}

.profile{
    padding-bottom: 1rem;
}

#techskills ol{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

#techskills li{
    list-style-type:none;
    padding: .3rem;
}

#techskills a{
    color: white;
}

#hire{
    background-color: var(--green);
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
}

#hire p:last-child{
    margin-top: 3rem;
}

nav{
    font-size: 80%;
    padding: 1rem;
    background-color: rosybrown;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
}

nav a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

nav a:hover{
    color:rgb(9, 240, 194);
    text-decoration: underline;
    font-size: 1.2rem;
}

nav li:first-child{
   /* flex-grow: 1;*/
   flex-basis: 100%;
    font-size: 1.5rem;
    margin-left: 9rem;
}

.button{
    background-color: red;
    padding: 0.5rem;
    border-radius: 5px;
}
.button:hover{
    color:white;
    background-color: yellowgreen;
}

.gradient-section{
    height: 2px;
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

footer{
    text-align: center;
    padding: 2rem 0;
}

.my-picture{
    max-height: 500px;
    max-width: 350px;
}

.my-picture img {
    width: 100%;
    max-height: 100%;
    border-radius: 5px;
    margin: 1rem 0;
}
    

#techskills {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#techskills ol{
    max-width: 400px;
    border: solid white 2px;
    border-radius: 5px;
    background-color: #1B7F79;
    padding: 1rem;
}

#experience-header{
    font-size: 2rem;
    margin: 0 auto;
    width: 250px;
    padding: 1rem;
}

@media(min-width:600px){
    nav li:first-child{
        flex-basis: auto;
        flex-grow: 1;
     }
}



